# K-Meleon Accelerators (http://kmeleon.sourceforge.net/wiki/index.php?id=ConfigFiles#accel)

# Syntax:
#	<key1> [<key2> [<key3>]] = <command>
#
# - Lines beginning with '#' are ignored (comments)

# Note: The purpose of this file is to host your personal accel definitions.
#	Here you can add accelerators that you are missing in the default
#	configuration and you can override default settings by redefining
#	them here. The default accelerators are defined in
#	defaults\settings\accel.cfg in your K-Meleon installation directory.

################# Accel config for K-Meleon 76 Pro ####################

# Middle-click links to the background:
#%ifplugin tabs
#MButton = ID_OPEN_LINK_IN_BACKGROUNDTAB
#%else
#MButton = ID_OPEN_LINK_IN_BACKGROUND
#%endif

CTRL VK_LEFT = ID_NAV_BACK
CTRL VK_RIGHT = ID_NAV_FORWARD

#CTRL VK_UP = ID_NAV_HOME
#CTRL VK_DOWN = ID_FILE_CLOSE

CTRL VK_UP = macros(Go_Up)
SHIFT VK_UP = macros(Go_Top)

ALT VK_F10 = macros(moz_AboutConfig)
VK_F12 = ID_TOOLBARS_LOCK
CTRL VK_F12 = macros(Console2) //already defined in console2.kmm for KM76 Pro
ALT VK_F7 = id(pageToggleJS)

CTRL SHIFT C = macros(Go_Copy)
CTRL SHIFT V = macros(Go_Paste)

CTRL I = macros(pageInfo)

#VK_F2 = macros(kmPrefs(appearance))

CTRL SHIFT ALT A = macros(_aboutpages)
SHIFT ALT D = macros(_aboutdownloads)
SHIFT ALT M = macros(_aboutmemory)
SHIFT ALT A = macros(_aboutaddons)
SHIFT ALT C = macros(moz_AboutConfig)

ALT 1 = rebarmenu(Menu) 	#Generic syntax to popup a defined menu. 	Accel, Toolbars
ALT 2 = rebarmenu(Compact Menu) 	#Popup Compact menu. 	Accel, Toolbars
ALT 3 = rebarmenu(&Web Search) 	#Popup Web Search menu. 	Accel, Toolbars