@-moz-document url-prefix("http://"),url-prefix("https://"),url-prefix("mailbox://"),url-prefix("imap://"),url-prefix("news://"),url-prefix("snews://"){
div.tetris_brand{-moz-binding: url(about:abp-elemhidehit?968975189129#dummy) !important;}
div.bunner_container{-moz-binding: url(about:abp-elemhidehit?991274370802#dummy) !important;}
div.newDesignButton{-moz-binding: url(about:abp-elemhidehit?970715329261#dummy) !important;}
#counters{-moz-binding: url(about:abp-elemhidehit?829450300992#dummy) !important;}
.b-banner{-moz-binding: url(about:abp-elemhidehit?916346839733#dummy) !important;}
#left_ads{-moz-binding: url(about:abp-elemhidehit?799432073852#dummy) !important;}
#top-ads{-moz-binding: url(about:abp-elemhidehit?307503868293#dummy) !important;}
#bn-bot-wrap{-moz-binding: url(about:abp-elemhidehit?547292295987#dummy) !important;}
#sape_okn{-moz-binding: url(about:abp-elemhidehit?441183472857#dummy) !important;}
.g_blank_likes{-moz-binding: url(about:abp-elemhidehit?404010035012#dummy) !important;}
.googleplus{-moz-binding: url(about:abp-elemhidehit?027950102817#dummy) !important;}
.g-plus{-moz-binding: url(about:abp-elemhidehit?818446153141#dummy) !important;}
.twitter{-moz-binding: url(about:abp-elemhidehit?714348686114#dummy) !important;}
.twitter-follow-button{-moz-binding: url(about:abp-elemhidehit?951471787086#dummy) !important;}
#facebook{-moz-binding: url(about:abp-elemhidehit?776257302179#dummy) !important;}
.facebook{-moz-binding: url(about:abp-elemhidehit?750965613000#dummy) !important;}
.fb-like{-moz-binding: url(about:abp-elemhidehit?042094038153#dummy) !important;}
.vkontakte{-moz-binding: url(about:abp-elemhidehit?819641378557#dummy) !important;}
.yashare-auto-init{-moz-binding: url(about:abp-elemhidehit?270204424261#dummy) !important;}
.social-links{-moz-binding: url(about:abp-elemhidehit?648691944223#dummy) !important;}
.fb-like-box{-moz-binding: url(about:abp-elemhidehit?561821828129#dummy) !important;}
.gmt-social-buttons{-moz-binding: url(about:abp-elemhidehit?447911600505#dummy) !important;}
.post_share{-moz-binding: url(about:abp-elemhidehit?883662997628#dummy) !important;}
.share-button{-moz-binding: url(about:abp-elemhidehit?119600409616#dummy) !important;}
.share_block{-moz-binding: url(about:abp-elemhidehit?477261491374#dummy) !important;}
.sharebar{-moz-binding: url(about:abp-elemhidehit?277046248316#dummy) !important;}
#social-media{-moz-binding: url(about:abp-elemhidehit?035241399449#dummy) !important;}
#b_soc{-moz-binding: url(about:abp-elemhidehit?112487399317#dummy) !important;}
.social{-moz-binding: url(about:abp-elemhidehit?352488550344#dummy) !important;}
.addthis_toolbox{-moz-binding: url(about:abp-elemhidehit?000407152909#dummy) !important;}
a[href^="http://click.hotlog.ru/"]{-moz-binding: url(about:abp-elemhidehit?758939948863#dummy) !important;}
a[href^="http://hitcounter.ru/top/stat.php"]{-moz-binding: url(about:abp-elemhidehit?659263614913#dummy) !important;}
a[href^="http://top100.rambler.ru/"]{-moz-binding: url(about:abp-elemhidehit?663286158918#dummy) !important;}
img[src^="/stat/"][width="88"][height="31"]{-moz-binding: url(about:abp-elemhidehit?925005472012#dummy) !important;}
#AUI_A9AdsMiddleBoxTop{-moz-binding: url(about:abp-elemhidehit?487188224631#dummy) !important;}
#Ad160x600_0_adchoice{-moz-binding: url(about:abp-elemhidehit?727750151134#dummy) !important;}
#DartAd300x250{-moz-binding: url(about:abp-elemhidehit?052964159520#dummy) !important;}
#HomepageAdSpace{-moz-binding: url(about:abp-elemhidehit?485929082184#dummy) !important;}
#TOP_RIGHT_BOXAD{-moz-binding: url(about:abp-elemhidehit?996388330579#dummy) !important;}
#ad-north-base{-moz-binding: url(about:abp-elemhidehit?344844025042#dummy) !important;}
#ad1{-moz-binding: url(about:abp-elemhidehit?653026526029#dummy) !important;}
#ad2{-moz-binding: url(about:abp-elemhidehit?908678198570#dummy) !important;}
#ad3{-moz-binding: url(about:abp-elemhidehit?373353468805#dummy) !important;}
#ad300{-moz-binding: url(about:abp-elemhidehit?463642240631#dummy) !important;}
#ad728x90{-moz-binding: url(about:abp-elemhidehit?538281699577#dummy) !important;}
#adB{-moz-binding: url(about:abp-elemhidehit?487887508462#dummy) !important;}
#adL{-moz-binding: url(about:abp-elemhidehit?536177117906#dummy) !important;}
#adMOBILEBOTTOM{-moz-binding: url(about:abp-elemhidehit?347814609836#dummy) !important;}
#adMOBILETOP{-moz-binding: url(about:abp-elemhidehit?214256406464#dummy) !important;}
#adSpace0{-moz-binding: url(about:abp-elemhidehit?966182243489#dummy) !important;}
#adSpace1{-moz-binding: url(about:abp-elemhidehit?901516943568#dummy) !important;}
#adSpace2{-moz-binding: url(about:abp-elemhidehit?297680712445#dummy) !important;}
#adcontainer1{-moz-binding: url(about:abp-elemhidehit?212335569258#dummy) !important;}
#adcontainer3{-moz-binding: url(about:abp-elemhidehit?170556941581#dummy) !important;}
#adholder{-moz-binding: url(about:abp-elemhidehit?800269446191#dummy) !important;}
#adkit_mrec1{-moz-binding: url(about:abp-elemhidehit?080236639693#dummy) !important;}
#adkit_mrec2{-moz-binding: url(about:abp-elemhidehit?485248615236#dummy) !important;}
#adsense{-moz-binding: url(about:abp-elemhidehit?612493899273#dummy) !important;}
#advertSection{-moz-binding: url(about:abp-elemhidehit?294447699904#dummy) !important;}
#advertiseLink{-moz-binding: url(about:abp-elemhidehit?209640190907#dummy) !important;}
#amazon-affiliates{-moz-binding: url(about:abp-elemhidehit?634568756172#dummy) !important;}
#bannerad{-moz-binding: url(about:abp-elemhidehit?983793519267#dummy) !important;}
#billboard_ad{-moz-binding: url(about:abp-elemhidehit?867910563994#dummy) !important;}
#bottomMPU{-moz-binding: url(about:abp-elemhidehit?358072684916#dummy) !important;}
#bottom_ad_wrapper{-moz-binding: url(about:abp-elemhidehit?946670330937#dummy) !important;}
#bottomads{-moz-binding: url(about:abp-elemhidehit?737496380185#dummy) !important;}
#gallery-sponsored-links_divID{-moz-binding: url(about:abp-elemhidehit?534299957995#dummy) !important;}
#googleAds{-moz-binding: url(about:abp-elemhidehit?558766961021#dummy) !important;}
#google_ads_frame1{-moz-binding: url(about:abp-elemhidehit?409634884224#dummy) !important;}
#headerAd{-moz-binding: url(about:abp-elemhidehit?451999970707#dummy) !important;}
#homead{-moz-binding: url(about:abp-elemhidehit?225752278654#dummy) !important;}
#insticator-container{-moz-binding: url(about:abp-elemhidehit?496960361504#dummy) !important;}
#islandAdPane{-moz-binding: url(about:abp-elemhidehit?328212190708#dummy) !important;}
#islandAdPane2{-moz-binding: url(about:abp-elemhidehit?433054569175#dummy) !important;}
#layeradsense{-moz-binding: url(about:abp-elemhidehit?896092934451#dummy) !important;}
#leftAd_rdr{-moz-binding: url(about:abp-elemhidehit?066336776850#dummy) !important;}
#logoBannerBox{-moz-binding: url(about:abp-elemhidehit?849899540165#dummy) !important;}
#mbEnd{-moz-binding: url(about:abp-elemhidehit?017218159643#dummy) !important;}
#mrktImg{-moz-binding: url(about:abp-elemhidehit?592701612557#dummy) !important;}
#rightAd_rdr{-moz-binding: url(about:abp-elemhidehit?502007695638#dummy) !important;}
#self_serve_ads{-moz-binding: url(about:abp-elemhidehit?659953176851#dummy) !important;}
#skyscraper{-moz-binding: url(about:abp-elemhidehit?297476638006#dummy) !important;}
#smartBanner{-moz-binding: url(about:abp-elemhidehit?821647942738#dummy) !important;}
#socialFocusContainer{-moz-binding: url(about:abp-elemhidehit?783298203464#dummy) !important;}
#sponsoredLinks{-moz-binding: url(about:abp-elemhidehit?298761097250#dummy) !important;}
#sponsoredlinks{-moz-binding: url(about:abp-elemhidehit?499924097850#dummy) !important;}
#tads{-moz-binding: url(about:abp-elemhidehit?850670153821#dummy) !important;}
#theAd{-moz-binding: url(about:abp-elemhidehit?633262030765#dummy) !important;}
#tmgAds_mpu{-moz-binding: url(about:abp-elemhidehit?000309262384#dummy) !important;}
#tmglBannerAd{-moz-binding: url(about:abp-elemhidehit?997979765093#dummy) !important;}
#topMPU{-moz-binding: url(about:abp-elemhidehit?165161113205#dummy) !important;}
#top_ad{-moz-binding: url(about:abp-elemhidehit?323642000030#dummy) !important;}
#yan-sponsored{-moz-binding: url(about:abp-elemhidehit?645746796289#dummy) !important;}
.Ad{-moz-binding: url(about:abp-elemhidehit?958606452138#dummy) !important;}
.Ad300x250{-moz-binding: url(about:abp-elemhidehit?112657630159#dummy) !important;}
.AdUnit{-moz-binding: url(about:abp-elemhidehit?627733266075#dummy) !important;}
.AdvertisementText{-moz-binding: url(about:abp-elemhidehit?371225415229#dummy) !important;}
.ad{-moz-binding: url(about:abp-elemhidehit?872719674011#dummy) !important;}
.ad-article-breaker{-moz-binding: url(about:abp-elemhidehit?841429891587#dummy) !important;}
.ad-banner{-moz-binding: url(about:abp-elemhidehit?645556387239#dummy) !important;}
.ad-banner-leaderboard{-moz-binding: url(about:abp-elemhidehit?564820406801#dummy) !important;}
.ad-div{-moz-binding: url(about:abp-elemhidehit?729719932822#dummy) !important;}
.ad-embedded{-moz-binding: url(about:abp-elemhidehit?959174826277#dummy) !important;}
.ad-engage{-moz-binding: url(about:abp-elemhidehit?859556295054#dummy) !important;}
.ad-header{-moz-binding: url(about:abp-elemhidehit?432317367308#dummy) !important;}
.ad-leaderboard{-moz-binding: url(about:abp-elemhidehit?353947440939#dummy) !important;}
.ad-sample{-moz-binding: url(about:abp-elemhidehit?908306543111#dummy) !important;}
.ad-slot{-moz-binding: url(about:abp-elemhidehit?660807540959#dummy) !important;}
.ad-tag{-moz-binding: url(about:abp-elemhidehit?007103097715#dummy) !important;}
.ad-title{-moz-binding: url(about:abp-elemhidehit?428953025784#dummy) !important;}
.ad-zone-container{-moz-binding: url(about:abp-elemhidehit?874342516039#dummy) !important;}
.ad300x250{-moz-binding: url(about:abp-elemhidehit?719285191624#dummy) !important;}
.adBox{-moz-binding: url(about:abp-elemhidehit?424943123204#dummy) !important;}
.adContainer{-moz-binding: url(about:abp-elemhidehit?992728256323#dummy) !important;}
.adHeader{-moz-binding: url(about:abp-elemhidehit?114389370539#dummy) !important;}
.adHolder{-moz-binding: url(about:abp-elemhidehit?954308297771#dummy) !important;}
.adNoOutline{-moz-binding: url(about:abp-elemhidehit?479123465367#dummy) !important;}
.adSpace{-moz-binding: url(about:abp-elemhidehit?695215191543#dummy) !important;}
.adStyle{-moz-binding: url(about:abp-elemhidehit?913096212835#dummy) !important;}
.ad_300_250{-moz-binding: url(about:abp-elemhidehit?493792253833#dummy) !important;}
.ad_300x250{-moz-binding: url(about:abp-elemhidehit?917560437373#dummy) !important;}
.ad_728x90{-moz-binding: url(about:abp-elemhidehit?867374184887#dummy) !important;}
.ad_top{-moz-binding: url(about:abp-elemhidehit?943413114546#dummy) !important;}
.ad_wrapper{-moz-binding: url(about:abp-elemhidehit?894604986923#dummy) !important;}
.adbox{-moz-binding: url(about:abp-elemhidehit?638074019714#dummy) !important;}
.adfliction{-moz-binding: url(about:abp-elemhidehit?458454356820#dummy) !important;}
.admpu{-moz-binding: url(about:abp-elemhidehit?630468330935#dummy) !important;}
.adroot{-moz-binding: url(about:abp-elemhidehit?027786804361#dummy) !important;}
.ads_slots_snippet{-moz-binding: url(about:abp-elemhidehit?883685510685#dummy) !important;}
.ads_wrapper{-moz-binding: url(about:abp-elemhidehit?156256577277#dummy) !important;}
.adsbygoogle{-moz-binding: url(about:abp-elemhidehit?186326893033#dummy) !important;}
.adtop{-moz-binding: url(about:abp-elemhidehit?416805790094#dummy) !important;}
.adunit_rectangle{-moz-binding: url(about:abp-elemhidehit?735242230589#dummy) !important;}
.advert{-moz-binding: url(about:abp-elemhidehit?512836481872#dummy) !important;}
.advertise{-moz-binding: url(about:abp-elemhidehit?304444616499#dummy) !important;}
.advertiseText{-moz-binding: url(about:abp-elemhidehit?448344901405#dummy) !important;}
.advertisement{-moz-binding: url(about:abp-elemhidehit?643488760323#dummy) !important;}
.advertisement-layout{-moz-binding: url(about:abp-elemhidehit?656293360699#dummy) !important;}
.advertising{-moz-binding: url(about:abp-elemhidehit?072603104163#dummy) !important;}
.advertisingTable{-moz-binding: url(about:abp-elemhidehit?759060523131#dummy) !important;}
.advertorial-pointer{-moz-binding: url(about:abp-elemhidehit?438683652964#dummy) !important;}
.affiliate-module{-moz-binding: url(about:abp-elemhidehit?176122357620#dummy) !important;}
.affiliate-mrec-iframe{-moz-binding: url(about:abp-elemhidehit?483373891590#dummy) !important;}
.article_ad{-moz-binding: url(about:abp-elemhidehit?233770333025#dummy) !important;}
.b_ad{-moz-binding: url(about:abp-elemhidehit?200439771366#dummy) !important;}
.banner-ad{-moz-binding: url(about:abp-elemhidehit?028812492531#dummy) !important;}
.bannerAd{-moz-binding: url(about:abp-elemhidehit?991713495638#dummy) !important;}
.bannerAdContainer{-moz-binding: url(about:abp-elemhidehit?433973680096#dummy) !important;}
.display-ad{-moz-binding: url(about:abp-elemhidehit?566625608034#dummy) !important;}
.earAdv{-moz-binding: url(about:abp-elemhidehit?816900075698#dummy) !important;}
.footer_ad{-moz-binding: url(about:abp-elemhidehit?889405618149#dummy) !important;}
.frame_adv{-moz-binding: url(about:abp-elemhidehit?907827871216#dummy) !important;}
.gooad{-moz-binding: url(about:abp-elemhidehit?504372560200#dummy) !important;}
.google-sky{-moz-binding: url(about:abp-elemhidehit?553378999126#dummy) !important;}
.googleAd{-moz-binding: url(about:abp-elemhidehit?836353077934#dummy) !important;}
.googleAds{-moz-binding: url(about:abp-elemhidehit?716082985543#dummy) !important;}
.google_adwords{-moz-binding: url(about:abp-elemhidehit?262870104755#dummy) !important;}
.googleads{-moz-binding: url(about:abp-elemhidehit?030679688799#dummy) !important;}
.has-ad{-moz-binding: url(about:abp-elemhidehit?709254700212#dummy) !important;}
.headerAd{-moz-binding: url(about:abp-elemhidehit?640780917502#dummy) !important;}
.headerTextAd{-moz-binding: url(about:abp-elemhidehit?171809563389#dummy) !important;}
.inline-ad{-moz-binding: url(about:abp-elemhidehit?171428444816#dummy) !important;}
.item-container-ad{-moz-binding: url(about:abp-elemhidehit?998385336896#dummy) !important;}
.js-adfliction-standard{-moz-binding: url(about:abp-elemhidehit?926748042459#dummy) !important;}
.js-sponsored-photos{-moz-binding: url(about:abp-elemhidehit?145140586258#dummy) !important;}
.js-stream-ad{-moz-binding: url(about:abp-elemhidehit?246143426020#dummy) !important;}
.mapped-ad{-moz-binding: url(about:abp-elemhidehit?303239040114#dummy) !important;}
.marketing-ad{-moz-binding: url(about:abp-elemhidehit?038416077358#dummy) !important;}
.masthead-ad{-moz-binding: url(about:abp-elemhidehit?195310362921#dummy) !important;}
.mobile-ad{-moz-binding: url(about:abp-elemhidehit?600480517831#dummy) !important;}
.mpu{-moz-binding: url(about:abp-elemhidehit?048903158898#dummy) !important;}
.netshelter-ad{-moz-binding: url(about:abp-elemhidehit?797573871208#dummy) !important;}
.other_adv{-moz-binding: url(about:abp-elemhidehit?957946659587#dummy) !important;}
.resultad{-moz-binding: url(about:abp-elemhidehit?542848553197#dummy) !important;}
.right_col_ad{-moz-binding: url(about:abp-elemhidehit?364090432655#dummy) !important;}
.search-message-container-ad{-moz-binding: url(about:abp-elemhidehit?400240926068#dummy) !important;}
.showcaseAd{-moz-binding: url(about:abp-elemhidehit?172691012032#dummy) !important;}
.side-ad{-moz-binding: url(about:abp-elemhidehit?300634017137#dummy) !important;}
.sidebar-ad{-moz-binding: url(about:abp-elemhidehit?133624793136#dummy) !important;}
.sidebar_right_ad{-moz-binding: url(about:abp-elemhidehit?193795883287#dummy) !important;}
.snarcy-ad{-moz-binding: url(about:abp-elemhidehit?261052954217#dummy) !important;}
.sponsor{-moz-binding: url(about:abp-elemhidehit?461609187722#dummy) !important;}
.sponsored_links{-moz-binding: url(about:abp-elemhidehit?556774885595#dummy) !important;}
.topAd{-moz-binding: url(about:abp-elemhidehit?728283372515#dummy) !important;}
.topBannerAd{-moz-binding: url(about:abp-elemhidehit?587485091760#dummy) !important;}
.videoads{-moz-binding: url(about:abp-elemhidehit?074169080951#dummy) !important;}
.wall_ad{-moz-binding: url(about:abp-elemhidehit?114877703226#dummy) !important;}
.widget-ad{-moz-binding: url(about:abp-elemhidehit?478684030022#dummy) !important;}
.y7-advertisement{-moz-binding: url(about:abp-elemhidehit?684940003272#dummy) !important;}
A[href^="http://ad.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?588772201439#dummy) !important;}
A[href^="http://pubads.g.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?670442970848#dummy) !important;}
A[href^="http://www.ringtonematcher.com/"]{-moz-binding: url(about:abp-elemhidehit?767522421310#dummy) !important;}
A[href^="http://www.uniblue.com/"]{-moz-binding: url(about:abp-elemhidehit?672125661783#dummy) !important;}
A[href^="https://ad.doubleclick.net/"]{-moz-binding: url(about:abp-elemhidehit?079786577593#dummy) !important;}
A[title="Advertising"]{-moz-binding: url(about:abp-elemhidehit?491411984411#dummy) !important;}
DIV[class*="adv-box"]{-moz-binding: url(about:abp-elemhidehit?800415021751#dummy) !important;}
DIV[class^="box-ad"]{-moz-binding: url(about:abp-elemhidehit?284216633036#dummy) !important;}
DIV[class^="commercial-unit-"]{-moz-binding: url(about:abp-elemhidehit?695680576350#dummy) !important;}
DIV[id$="Ad-Proxy"]{-moz-binding: url(about:abp-elemhidehit?313902756940#dummy) !important;}
DIV[id*="-ads"]{-moz-binding: url(about:abp-elemhidehit?359386190326#dummy) !important;}
DIV[id*="AdWrapper"]{-moz-binding: url(about:abp-elemhidehit?384645540982#dummy) !important;}
DIV[id*="FloatingBanner"]{-moz-binding: url(about:abp-elemhidehit?042630874404#dummy) !important;}
DIV[id^="div-gpt-ad"]{-moz-binding: url(about:abp-elemhidehit?127258945649#dummy) !important;}
DIV[id^="taboola-"]{-moz-binding: url(about:abp-elemhidehit?582388401229#dummy) !important;}
IFRAME[name*="ads-center"]{-moz-binding: url(about:abp-elemhidehit?520602722684#dummy) !important;}
}
@-moz-document domain("militaryreview.su"){
.bbanerr{-moz-binding: url(about:abp-elemhidehit?156507093119#dummy) !important;}
}
@-moz-document domain("4pda.ru"){
[class][style="display:block!important"] > [class][style="display:block!important"]{-moz-binding: url(about:abp-elemhidehit?743631029528#dummy) !important;}
a[rel="nofollow"][href][target="_blank"] > img[src][height="90"][alt]{-moz-binding: url(about:abp-elemhidehit?555082526318#dummy) !important;}
aside > div[class][style="display:block!important"] > a[style="display:block!important"][target="_blank"]{-moz-binding: url(about:abp-elemhidehit?210698353500#dummy) !important;}
aside > div[class][style="display:block!important"] > iframe[src*="banner"]{-moz-binding: url(about:abp-elemhidehit?708846181097#dummy) !important;}
tbody > tr[valign="top"] > td[width="20%"] + td[class]{-moz-binding: url(about:abp-elemhidehit?782651426137#dummy) !important;}
}
@-moz-document domain("dailymotion.com"){
.hidden-sm.hidden-md{-moz-binding: url(about:abp-elemhidehit?214666006586#dummy) !important;}
}
@-moz-document domain("facebook.com"){
#pagelet_side_ads{-moz-binding: url(about:abp-elemhidehit?185728476515#dummy) !important;}
.ego_unit_container{-moz-binding: url(about:abp-elemhidehit?389384236951#dummy) !important;}
}
@-moz-document domain("mail.google.com"){
.aKB{-moz-binding: url(about:abp-elemhidehit?030516642315#dummy) !important;}
.nH.PS{-moz-binding: url(about:abp-elemhidehit?441454542018#dummy) !important;}
}
@-moz-document domain("mail.yahoo.com"){
#slot_MB{-moz-binding: url(about:abp-elemhidehit?820973390437#dummy) !important;}
}
@-moz-document domain("wikipedia.org"){
#centralNotice{-moz-binding: url(about:abp-elemhidehit?498696137134#dummy) !important;}
}
@-moz-document domain("yahoo.com"){
.Feedback{-moz-binding: url(about:abp-elemhidehit?406479072710#dummy) !important;}
LI[id^="ad-"]{-moz-binding: url(about:abp-elemhidehit?019190500006#dummy) !important;}
}
@-moz-document domain("youtube.com"){
#video-masthead{-moz-binding: url(about:abp-elemhidehit?832439428273#dummy) !important;}
#watch-channel-brand-div{-moz-binding: url(about:abp-elemhidehit?950419831199#dummy) !important;}
DIV[class*="-ads-"]{-moz-binding: url(about:abp-elemhidehit?394229942386#dummy) !important;}
}
@-moz-document domain("all-free-download.com"){
DIV[class$="banner"]{-moz-binding: url(about:abp-elemhidehit?610362204200#dummy) !important;}
LI[id^="ads"]{-moz-binding: url(about:abp-elemhidehit?060820678221#dummy) !important;}
}
@-moz-document domain("all-free-download.com"),domain("comicsalliance.com"),domain("dailymotion.com"),domain("krebsonsecurity.com"){
DIV[id$="banner"]{-moz-binding: url(about:abp-elemhidehit?453840241737#dummy) !important;}
}
@-moz-document domain("cnet.com"),domain("empireonline.com"),domain("laptopmag.com"){
DIV[id^="leader"]{-moz-binding: url(about:abp-elemhidehit?746452843904#dummy) !important;}
}
@-moz-document domain("cosmopolitan.com"){
DIV[class^="leader"]{-moz-binding: url(about:abp-elemhidehit?215296838298#dummy) !important;}
}
@-moz-document domain("comingsoon.net"),domain("digitaltrends.com"),domain("techradar.com"){
DIV[class*="leaderboard"]{-moz-binding: url(about:abp-elemhidehit?340332671350#dummy) !important;}
}
@-moz-document domain("eventcinemas.com.au"),domain("eventcinemas.co.nz"),domain("thedailysheeple.com"){
.ads{-moz-binding: url(about:abp-elemhidehit?982824767793#dummy) !important;}
}
@-moz-document domain("mirror.co.uk"){
.top-slot{-moz-binding: url(about:abp-elemhidehit?751702735859#dummy) !important;}
}
@-moz-document domain("movieweb.com"),domain("nerdist.com"){
DIV[class^="banner"]{-moz-binding: url(about:abp-elemhidehit?622453290576#dummy) !important;}
}
@-moz-document domain("pixabay.com"){
DIV[class*="sponsored"]{-moz-binding: url(about:abp-elemhidehit?577813167587#dummy) !important;}
}
@-moz-document domain("twitter.com"),domain("wnd.com"),domain("youtube.com"){
DIV[class*="prom"]{-moz-binding: url(about:abp-elemhidehit?441292838702#dummy) !important;}
}
@-moz-document domain("washingtonpost.com"){
DIV[class$="leaderboard"]{-moz-binding: url(about:abp-elemhidehit?796530698978#dummy) !important;}
}
@-moz-document domain("wikipedia.de"){
DIV[id^="banner"]{-moz-binding: url(about:abp-elemhidehit?178969333016#dummy) !important;}
}
@-moz-document domain("wired.com"){
DIV[class*="banner"]{-moz-binding: url(about:abp-elemhidehit?165369768960#dummy) !important;}
}
